* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #001122;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 4px;
    padding-left: 4px;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 8px;
}

nav h1 {
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
}

nav a, nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:active {
    color: #fffccf;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
}

nav ul li {
    display: block;
    padding: 4px 8px;
}

button, input[type="submit"] {
    background-color: #003a66;
    border-color:#004488;
    color: white;
    border-radius: 8px;
    padding: 6px 12px;
    margin-left: 0;
    margin-right: 0;
    border-style: solid;
    border-width: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 24ch;
}

nav button {
    background-color: #007c5d;
    border-color:#006655;
    padding: 4px 8px;
    margin-left: 4px;
    margin-right: 2px;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 8ch;
}

nav form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e6f2ff;
    padding: 4px 8px;
    border-radius: 0.5rem;
    min-width: 450px;
}

nav input {
    background-color: white;
    padding: 4px;
    border-radius: 0.5rem;
    margin-right: 8px;
    color: black;
    flex-grow: 1;
}

nav input::placeholder {
    color: #36967e;
}

body {
    background-color: black;
    background-image:url("./images/filip-mroz-023T4jyCRqA-unsplash.jpg");
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.employee-profile {
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.badge {
    background-color: #007c5d;
    border-radius: 8px;
    font-size: 9pt;
    padding: 2px 8px;
    margin-top: 0.5rem;
}

.panel-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding: 16px;
}

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    max-width: 50ch;
    padding: 0.5rem;
}

.container {
    flex: 1;
    max-width: 100ch;
    margin: auto;
    margin-top: 4rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
}

h2 {
    margin-bottom: 1rem;
}

nav img {
    width: 32px;
}

.invert-color {
    filter: invert(100%);
}

img.small {
    width: 20px;
}

img.icon {
    width: 32px;
    margin-bottom: 4px;
}

.social-icon-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding-top: 200px;
}

@media (max-width: 992px) {
    main {
        flex-direction: column;
    }

    .social-icon-container {
        flex-direction: row;
        justify-content: center;
        padding: 1rem;
    }

    nav {
        flex-direction: column;
        align-items: stretch;
    }

    nav form {
        flex-grow: 1;
    }

    nav input {
        flex-grow: 1;
    }
}

.recommendation {
    margin-bottom: 1rem;
}